.board td {
    width: 35px;
    height: 35px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
    transition: .2s;
}

.board td:hover {
    background-color: lightsalmon;
}

.occupied {
    background-color: gainsboro;
}