body {
    display: block;
    margin: 0px;
}

.nav-bar {
    z-index: 100;
    width: 100%;
    color: rgb(8, 8, 8);
    padding: 30px 30px;
    background-color: #929798;
    box-shadow: 0px -1px 20px 6px #33323287;
    text-align: center;
    text-shadow: 2px 0px 1px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-family: cursive;
    font-size: 40px;
    cursor: context-menu;
    /* font-weight: bold; */
}

.hints {
    width: 130px;
    position: relative;
    text-align: center;
    top: -130px;
    padding-top: 15px;
    left: 500px;
    height: 70px;
    font-size: xx-large;
    background-color: rgb(212 212 212);
    box-shadow: black 1px -1px 12px 0px;
}

.hints button {
    height: 50px;
    text-align: center;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0.562);
}

table {
    padding-top: 110px;
    padding-left: 40px;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    right: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.board td {
    width: 28px;
    height: 28px;
    border-style: outset;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    transition: .2s;
    background-color: silver;
}

.board td:hover {
    background-color: rgba(0, 0, 0, 0.582);
}

.occupied {
    background-color: gainsboro;
}

.menu {
    display: block;
    height: 50px;
    background-color: #433838d4;
    box-shadow: 0px -2px 5px 1px rgb(8, 8, 8);
}

.levels {
    z-index: 1000005;
    background-color: rgb(255 255 255 / 55%);
    position: relative;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 85px;
    top: -17px;
    left: 60%;
    text-align: center;
    font-size: larger;
    /* box-shadow: 0px 3px 13px 5px black; */
    box-shadow: 1px -1px 12px 0px black
}

h3 {
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
}

.levels button {
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70px;
    height: 25px;
}

.levels button:hover {
    background-color: rgb(187, 177, 177);
}

.smily button {
    cursor: pointer;
    right: 705px;
    position: relative;
    width: 60px;
    height: 30px;
    top: -5px;
    border-style: ridge;
}

.smily {
    position: absolute;
    display: inline;
    top: 150px;
    right: 10px;
}

.fails {
    width: 80px;
    position: relative;
    height: 25px;
    right: -300px;
    top: -75px;
    background-color: rgb(0 0 0);
    text-align: center;
    border-style: outset;
    box-shadow: 0px 0px 0px 0px white;
}